PS1='%~ Σ '
export PATH="/opt/homebrew/bin:$PATH"
export NVM_DIR="$HOME/.nvm"
  [ -s "/opt/homebrew/opt/nvm/nvm.sh" ] && \. "/opt/homebrew/opt/nvm/nvm.sh"
  [ -s "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm" ] && \. "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm"
alias python='python3'
export GOPATH=$HOME/go
export GOROOT="$(brew --prefix golang)/libexec"
export PATH=$PATH:$GOPATH/bin
export PATH=$PATH:$GOROOT/bin
alias c="open $1 -a \"Cursor\""
alias gb="git branch"
alias gpl="git pull"
alias gplo="git pull origin"
alias gph="git push"
alias gphu="git push origin -u"
alias gs="git switch"
alias gsc="git switch -c"
alias gst="git status"
alias ga="git add"
alias gaa="git add ."
alias gc="git commit -m"